Margin = 1.5vw

.images
  overflow hidden
  margin-bottom BS * 250
  &__wrapper
    display flex
    flex-wrap wrap
    margin-right Margin * -1
    margin-bottom Margin * -1
  &__image
    display block
    max-width 100%
    max-height 100%
    &--stretch
      visibility hidden
  &__image_wrapper
    position relative
    margin-right Margin
    margin-bottom Margin
    overflow hidden
    &--100
      width 100%
      margin-right 0
    &--75
      width 'calc(75% - %s)' % Margin
    &--50
      width 'calc(50% - %s)' % Margin
    &--25
      width 'calc(25% - %s)' % Margin
    &--stretch
      background-size cover
      background-repeat no-repeat
      background-position center
