.img_txt
  display flex
  margin-bottom BS * 250
  &--right
    flex-direction row-reverse
  &__img_wrapper
    overflow hidden
    width 50%
  &__img
    display block
    max-width 100%
    max-height 100%
  &__txt_wrapper
    display flex
    flex-direction column
    justify-content center
    width 50%
    padding BS * 20
