@import "fonts";
@import "variables";
@import "mixins";
@import "functions";
@import "blocks";

.wp-core-ui .wp-block {
  @import "typography";
  @import "./components/button";

  body {
    font-size: 19px;
    line-height: 135%;
  }

  h1 {
    font-size: 60px;
    line-height: 130%;
  }

  h2 {
    font-size: 48px;
    line-height: 90%;
  }

  h3 {
    font-size: 47px;
    line-height: 120%;
  }

  h4 {
    font-size: 36px;
    line-height: 120%;
  }

  h5,
  .lead__lead {
    font-size: 24px;
    line-height: 120%;
  }

  h6 {
    font-size: 16px;
    line-height: 135%;
  }

  .quote {
    font-size: 39px;
    line-height: 120%;
  }

  .author {
    font-size: 21px;
    line-height: 100%;
  }

  input {
    border-radius: 20px;
    padding: 8px 64px 10px 10px;
    font-size: 19px;
    line-height: 100%;
  }
}

.nf-insert-form {
  display: none !important;
}
