html
  font-family Gilroy, sans-serif
  font-weight 200
  bs-font-size(20)
  line-height 120%
  color Black

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  line-height 120%
  font-weight 700

h1
  bs-font-size(62)

h2
  bs-font-size(44)

h3
  font-size BS * 36

h4
  font-size BS * 26

h5, h6
  font-size BS * 20

p
  margin 0
  padding 0

ul, li
  margin 0
  padding 0
  list-style none

a
  display inline-block
  text-decoration none
  color inherit
  transition transform 0.3s ease-out
  &:active
    transform scale(0.95)
