// Styles
// name mixin after scss component
@mixin styles($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  html {
    font-family: $FontFamilyMain;
    font-weight: 300;
    // only set font-size here, if really needed
    // font-size: 16px;
    line-height: 120%;
    color: $Black;
    background-color: $Yellow;
    scroll-behavior: smooth;
  }

  body {
    @include bsFontSize($BS, $BaseRemSize);
    line-height: 190%;
    max-width: $ScreendesignWidthMAX + 0px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 120%;
    font-weight: 700;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h1 {
    @include bsFontSize($BS, 62);
  }

  h2 {
    @include bsFontSize($BS, 44);
  }

  h3 {
    @include bsFontSize($BS, 36);
  }

  h4 {
    @include bsFontSize($BS, 26);
  }

  h5,
  h6 {
    @include bsFontSize($BS, 20);
  }

  input,
  button {
    font-family: $FontFamilyMain;
  }

  p {
    padding: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  li {
    padding: 0;
    list-style: none;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    // position: relative;
    padding-left: $BS * 20;

    &:before {
      content: "\2022";
      margin-left: $BS * -20;
      margin-right: $BS * 10;
      font-size: 110%;
      line-height: 50%;
    }
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: $BS $Black solid;
    }

    &:hover {
    }

    &:active {
    }
  }

  code {
    display: block;
    background-color: $Black;
    color: $White;
    border-radius: $BS * 2;
    padding: $BS * 14 $BS * 16 $BS * 16;
    margin: $BS * 16 0;
  }

  .button {
    display: inline-block;
    font-weight: 700;
    background: $Black;
    color: $Yellow;
    padding: $BS * 18 $BS * 50 $BS * 18;
    text-transform: uppercase;
    transition: background 0.3s ease-out;
    text-decoration: none;
    margin-right: $BS * 16;
    margin-bottom: $BS * 16;

    &:hover {
      background: $YellowDark;
      color: $Yellow;
    }

    &:after {
      content: none;
    }
  }

  button {
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    text-align: inherit;
  }

  img,
  canvas {
    display: block;
  }

  .mobile_only {
    display: none;
  }

  .desktop_only {
    display: block;
  }
}

// Add styles
@include styles();

// Add basic styles with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include styles(#{$Breakpoint});
  }
}

// Add custom styles with breakpoints
@include breakPointS() {
  .mobile_only {
    display: block;
  }

  .desktop_only {
    display: none;
  }
}
