@import "fonts";
@import "normalize";
@import "variables";
@import "mixins";
@import "functions";
@import "general";

@import "./components/button.scss";
@import "./components/swiper.min.scss";

@import "./sections/header.scss";

@import "blocks";
