BS = 100vw / 2000

BreakpointMAX = 'screen and (min-width: 2000px)'
BreakpointL  = 'screen and (max-width: 1450px)'
BreakpointM  = 'screen and (max-width: 1024px)'
BreakpointS  = 'screen and (max-width: 768px)'
BreakpointXS  = 'screen and (max-width: 500px)'
BreakpointIPadVertical = 'screen and (width: 768px), screen and (height: 1024px)'
