// Styles
// name mixin after scss component
@mixin button($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .button {
    display: inline-block;
    font-weight: 700;
    background: $Black;
    color: $Yellow;
    padding: $BS * 18 $BS * 50 $BS * 18;
    text-transform: uppercase;
    transition: background 0.3s ease-out;
    text-decoration: none;
    margin-right: $BS * 16;
    margin-bottom: $BS * 16;

    &:hover {
      background: $YellowDark;
      color: $Yellow;
    }

    &:after {
      content: none;
    }
  }
}

// Add button
@include button();

// Add basic button with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include button(#{$Breakpoint});
  }
}
