// wrap your code in a mixin
@mixin intro($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  // define the styles of your component as designed
  .intro {
    padding: $BS * 32;
    max-width: $BS * 1200;
    margin: 0 auto $BS * 128;
    @include bsFontSize($BS, 22);
  }
}

// Render basic styles as designed
@include intro();

// Render basic styles with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include intro(#{$Breakpoint});
  }
}

// Render custom styles with breakpoints
@include breakPointS() {
  $BS: getBaseSize("S");
}
